*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: space-between;
    /* border: 4px solid purple; */
    height: 100vh;
}
.description,.formItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    background: linear-gradient(180deg, #E1FFFB 0%, rgba(159, 191, 255, 0.48) 100%);
    width: 50%;
}
.text, .form-text{
    /* margin: 30px 40px; */
    margin-top: 5%;
    text-align: center; 
    color: #4048AD;
    font-size: 30px;
    width: 60%;
}
.text > .click{
    display: block;
    color: #BE497B;
}
.formItem{
   background: #fff;
   /* border: 3px solid blue; */
   justify-content: flex-start;
}
.form-text{
    margin-top: 20%;
    margin-bottom: 50px;
}
.form{
    width: 60%;
}
.formItems{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formItems label{
    font-size: 14px;
    padding: 5px;
}
.formItem input{
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    background-color: #E1FFFB45;
    border-radius: 4px;
    border: 3px solid gray;
    outline: skyblue;
}
.formItems input:hover{
    border: 3px solid skyblue;
}
.select{
    display: flex;
    justify-content: space-between;
}
.select select{
   padding: 0px 30px 0px 0px ;
}
.select input{
    width: 75%;
}
button{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4048AD;
    color: #fff;
    font-size: 16px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    color: #4048AD;
    background-color: #fff;
    font-weight: 900;
    border: 2px solid #4048AD;
}
.result{
    display: none;
}
.result input{
    width: 60%;
}
#reset{
    width: 50%;
}
.result img{
    width: 80px;
    height: 50px;
}

@media screen and (max-width: 1000px){
    .container{
        flex-direction: column
    }
    .description,.formItem{
        width: 100%;
    }
    .form-text{
        margin-top: 5%;
        margin-bottom: 20px;
    }
    .form{
        width: 80%;
    }
}
